h1 {
    font-size: 20px;
    image-rendering: crisp-edges;
    font-family:cursive;
    color:cadetblue;
}
body {
 background-color: gray;
}
.game-view{
  
 
}
.Game{
  width: 120vh;
  height: 80vh;

}

.Tab{
  background-color: wheat;
  position:fixed;
  top: 50px;
  right: 170px;
  width:300px;
  height: 400px;
  overflow: hidden;
  border-radius: 3px;
  
}

.Tab-Header{
  background-color: burlywood;
  padding:5px;
  border-bottom: 2px solid;
  border-radius: 3px;

}

.Label{
  margin: 0px;
}

.Tab-Body{
  overflow: auto;
  height: 90%;
}

.Score-List{

}

.Score{
  padding: 10px;
  font-size: 30px;
}